appdirs==1.4.3
click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
decompyle3==3.7.5
distlib==0.3.0
filelock==3.0.12
importlib-metadata==1.6.0
importlib-resources==1.4.0
pathlib2==2.3.5
scandir==1.10.0
singledispatch==3.4.0.3
six==1.14.0
spark-parser==1.8.9
typing==3.7.4.1
uncompyle6==3.7.4
virtualenv==20.0.18
xdis==5.0.11
zipp==1.2.0 